In [5]:
a = 10
b = 50
if a>b:
    print(a)
elif a==b:
    print("equal")
else:
    print(b)

50

In [6]:
c = 15

if a>b:
    if a>c:
        print("a")
    else:
        print("c")
else:
    if b>c:
        print("b")
    else:
        print("c")

b

### Loop

In [8]:
n = 1

while n<=10:
    print(n)
    n+=1

print ("Done")

1
2
3
4
5
6
7
8
9
10
Done

In [10]:
n = 1

while n<=10:
    if n==6:
        break
    else:
        print(n)
        n+=1

print("\nDone")

1
2
3
4
5

Done

In [1]:
n = 1

while n<=10:
    if n==6:
        n+=1
        continue
    print(n)
    n+=1
    
print("\nDone")

1
2
3
4
5
7
8
9
10

Done

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range (4, 20, 2):
    print(i)

4
6
8
10
12
14
16
18

In [6]:
veg = ['tomato','potato', 'onion']

In [9]:
for v in veg:
    print(v)

tomato
potato
onion

In [10]:
dict = {'a':'A', 'b':'B', 'c':'C', 'd':'D'}
for letter in dict:
    print(letter)

a
b
c
d

In [11]:
print(letter.values)

AttributeError: 'str' object has no attribute 'values'

In [12]:
for letter in dict.values():
    print(letter)

A
B
C
D

In [13]:
m=1
n=10

while m<=10:
    print(n, 'x', m, '=', n*m)
    m+=1

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [14]:
numbers = [1, 3, 5, 7, 9, 11]
for n in numbers:
    if n<9:
        print(n)

1
3
5
7

In [15]:
m = 10
for n in range(1, 11, 1):
    print(m, 'x', n, '=', m*n)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

## Function

In [16]:
#2 types of function: 1) Built-in Function 2) User-defined Fuction

In [17]:
# Defining a function
def my_pet(name):
    return name

In [18]:
# calling
my_pet("Tiger")

'Tiger'

In [19]:
my_pet ("Tom")

'Tom'

### Lambda Funtion

In [20]:
def add(a, b):
    return a+b

sum = add(23,23)
sum

46

In [22]:
Lambda_add = lambda a,b : a+b
Lambda_add

In [23]:
Lambda_add(10,15)

25

### Map -> Built-in Function

In [25]:
l = [1,2,3,4,5]
square = lambda n:n*n


new = map(square, l)
m = set(new)
print(m)

{1, 4, 9, 16, 25}

In [26]:
for i in l:
    print(i*i)

1
4
9
16
25