## 1. Area of a circle

In [1]:
radius = float(input("Enter the radius: "))
area = 3.14 * (radius * radius)

print('Area = ', area)

Enter the radius: 5
Area =  78.5

## 2. Largest number between three numbers

In [2]:
def largest(a, b, c):
    if a>b and a >c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c

In [3]:
largest(24, 12, 27)

27

## 3. A function to convert the vowels of a string into 1 and consonants into 0

In [4]:
def convert(string):
    n = len(string)
    
    for i in range(n):
        if string[i]=='a' or string[i]=='e' or string[i]=='i' or string[i]=='o' or string[i]=='u':
            print('1', end="")
        else:
            print('0', end="")

In [5]:
string = input("Enter a string: ")
convert(string)

Enter a string: abcde
10001

## 4. A single Calculator Function

In [3]:
def add(x, y):
    return x+y

def sub(x, y):
    return x-y

def mul(x, y):
    return x*y

def div(x, y):
    return x//y

In [4]:
x = int(input("Enter the first number: "))
y = int(input("Enter the second number: "))

print('\nfor addition press a')
print('for subtraction press b')
print('for multiplication press c')
print('for division press d\n')

option = input('Select option: ')
print("\n")

if option == 'a':
    print(add(x, y))
    
elif option == 'b':
    print(sub(x, y))
    
elif option == 'c':
    print(mul(x, y))

elif option == 'd':
    print(div(x, y))

Enter the first number: 24
Enter the second number: 6

for addition press a
for subtraction press b
for multiplication press c
for division press d

Select option: d


4

## 5. Repeat Input String

In [5]:
repeat = input('Enter a string: ')
print(repeat, end="")
print(repeat)

Enter a string: codestu
codestucodestu

## 6.  map, filter, reduce

In [11]:
input1 = [ "ux1P5", "rt0", "ft3", "z1aP" ]

In [12]:
output1 = list(filter(lambda x: 'P' in x, input1))
print(output1)

['ux1P5', 'z1aP']

In [13]:
output2 = list(map(lambda x: x+'P' if 'P' not in x else x, input1))
print(output2)

['ux1P5', 'rt0P', 'ft3P', 'z1aP']

In [14]:
from functools import reduce

In [16]:
input2 = [1, 2, 3, 4, 5, 6]
output3 = reduce(lambda x,y: x+y, input2)
print(output3)

21

## 7. Pandas

In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('Datasets/wine.csv')
df.head(20)

,Unnamed: 0,item_code,item_name,display_level,selectable,sort_sequence
0,0,AA0,All items - old base,0,T,2
1,1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,400
2,2,SA0,All items,0,T,1
3,3,SA0E,Energy,1,T,375
4,4,SA0L1,All items less food,1,T,359
5,5,SA0L12,All items less food and shelter,1,T,362
6,6,SA0L12E,"All items less food, shelter, and energy",1,T,363
7,7,SA0L12E4,"All items less food, shelter, energy, and used...",1,T,364
8,8,SA0L1E,All items less food and energy,1,T,360
9,9,SA0L2,All items less shelter,1,T,361
10,10,SA0L5,All items less medical care,1,T,357
11,11,SA0LE,All items less energy,1,T,358
12,12,SA0R,Purchasing power of the consumer dollar,0,T,399
13,13,SA311,Apparel less footwear,1,T,365
14,14,SAA,Apparel,0,T,187
15,15,SAA1,Men's and boys' apparel,1,T,188
16,16,SAA2,Women's and girls' apparel,1,T,195
17,17,SAC,Commodities,1,T,366
18,18,SACE,Energy commodities,1,T,376
19,19,SACL1,Commodities less food,1,T,367

In [15]:
print(df.iloc[6,5])

363

In [16]:
df1 = df.loc[0:9]
print(df1)

   Unnamed: 0 item_code                                          item_name  \
0           0       AA0                               All items - old base
1           1      AA0R  Purchasing power of the consumer dollar - old ...
2           2       SA0                                          All items
3           3      SA0E                                             Energy
4           4     SA0L1                                All items less food
5           5    SA0L12                    All items less food and shelter
6           6   SA0L12E           All items less food, shelter, and energy
7           7  SA0L12E4  All items less food, shelter, energy, and used...
8           8    SA0L1E                     All items less food and energy
9           9     SA0L2                             All items less shelter

   display_level selectable  sort_sequence
0              0          T              2
1              0          T            400
2              0          T              1
3              1          T            375
4              1          T            359
5              1          T            362
6              1          T            363
7              1          T            364
8              1          T            360
9              1          T            361

In [17]:
df1.to_pickle("Datasheets/file.pkl")

OSError: Cannot save file into a non-existent directory: 'Datasheets'